.main-section {
  padding: 24px 24px 24px 264px;
  width: 100%;
  height: auto;
}
.section-header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
}
.page-title {
  margin: 0;
  padding: 12px 16px;
  font-size: 16px;
  flex-grow: 1;
}
.dark-icon {
  color: black;
}
.section-header-icon {
  justify-content: center;
  padding: 12px 16px;
  height: 48px;
  width: 56px;
}
.orders-table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  text-indent: 0;
}
.orders {
  display: table-row;
  margin: 0;
  width: 100%;
  background-color: #fff;
}
.blue-id {
  text-decoration: none;
  width: 100%;
  padding: 0;
  line-height: 24px;
  color: #2563eb;
}
.row-item {
  padding: 8px 12px;
}
