body {
  background-color: rgb(249 250 251);
  height: 100vh;
}
.main-section {
  padding: 24px 24px 24px 264px;
  width: 100%;
  height: auto;
}
.section-header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
}
.page-title {
  margin: 0;
  padding: 12px 16px;
  font-size: 16px;
  flex-grow: 1;
}
.dark-icon {
  color: black;
}
.section-header-icon {
  justify-content: center;
  padding: 12px 16px;
  height: 48px;
  width: 56px;
}
.suppliers-table,
.products-table,
.employees-table,
.customers-table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  text-indent: 0;
}
.suppliers,
.products,
.employees,
.customers {
  display: table-row;
  margin: 0;
  width: 100%;
  background-color: #fff;
}
.avatar-icons-column {
  height: 40px;
  width: 48px;
}
p {
  margin: 0;
}
th {
  line-height: 24px;
  padding: 8px 12px;
}
.gray-row {
  background-color: #f9fafb;
}
.rounded-full {
  border-radius: 50%;
  height: 24px;
  width: 24px;
  z-index: -1;
}
.image-colomn {
  position: absolute;
  padding: 8px 12px;
}
.link-company,
.link-name,
.link-employees {
  text-decoration: none;
  width: 100%;
  padding: 0;
  line-height: 24px;
  color: #2563eb;
}
.row-item {
  padding: 8px 12px;
}
.white-row {
  background-color: #fff;
}
